.container {
  display: flex;
  gap: 16px;
  padding: 1px;
  width: 100%; /* Ensure container uses full width */

  @media (max-width: 768px) {
    flex-direction: column; /* Stack panels vertically */
    gap: 16px;
    
    overflow-x: hidden; /* Prevent unwanted horizontal scroll */
  }
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  background: #ffffff; 
  padding: 10px;
  height: 626px;
  margin-top: -16px;

  .MuiFormControl-root {
    width: 100%; /* Ensure dropdowns take full width */
  }

  

  
}

.right-panel {
  flex: 2; /* Allocate more space for the right panel */
  max-width: 100%; /* Prevent overflow */
  background: #ffffff;
  padding: 10px;
  margin-top: -16px;
  height: 100%;
 
   

 

  @media (max-width: 768px) {
    flex: none;
    max-width: 100%; /* Full width on mobile */
    overflow-x: auto; /* Ensure table scrolls horizontally */
    margin-top: 2px;
  }
}


.discount-amount-section {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.discount-amount-section-mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}



.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   background-color: #ffffff; /* Optional: Add background color */
 }

.header-container h2 {
   font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
}

@media (min-width: 768px) {
  .header-container {
    margin-bottom: 30px; /* Spacing between header and content */
    margin-top: -24px;  /* Adjusted top margin */
  }
}