.payment-history {
      table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          text-align: left;
          padding: 0.5rem;
          border-bottom: 1px solid #eee;
        }
  
        th {
          font-weight: bold;
        }
      }
    }
  
    @media (max-width: 768px) {
      .header {
        flex-direction: column;
        align-items: flex-start;
  
       
      }
      
      table {
        font-size: 0.9rem;
  
        th, td {
          padding: 0.3rem;
        }
      }
    }
  


  .payment-history {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      
    }
  
    .details-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); // Three equal columns
      gap: 10px;
  
      @media (max-width: 768px) {
        grid-template-columns: 1fr; // Single column for mobile
      }
    }
  
    .details {
      padding: 20px;
      border-radius: 2px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  
      &.customer-details {
        background-color: #ffffff; // Light gray background
      }
  
      &.car-details {
        background-color: #ffffff; // Light blue background
      }
  
     
  
      strong {
        font-weight: initial;
      }
  
      p {
        margin: 2px 0;
      }
    }
  }
  